@import url("https://fonts.googleapis.com/css2family=Merriweather&display=swap");

body {
  margin: 0;
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: burlywood;
}


.todo-list {
  border: thin solid black !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 12px;
  padding: 12px;
}